@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Viaoda+Libre&display=swap");
@import "tailwindcss";

@theme{
    --font-chicle: "Chicle", serif;
    --font-libre:"Viaoda Libre", serif;
    --color-brown:#45151B;
    --color-pink:#EA9DAE;
    --color-beige:#FBDE9C;
    

}

@layer base {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
.button{
    border: 2px solid;
    border-radius:10px;
    border-color: #45151B;
    color:#45151B;
    background-color:#EA9DAE ;
    padding:10px;
    box-shadow: 5px 5px 5px #45151b57;
}

  @media (min-width: 640px) { /* sm */
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024px) { /* lg */
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  @media (min-width: 1280px) { /* xl */
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media (min-width: 1536px) { /* 2xl */
    .container {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
}